<!DOCTYPE html>
<html>
  <head>
    <title>YachitakuData</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="head_bar">

      <% if user_signed_in? %>
        <%= "#{current_user.email.to_s}でログインしています。" %>

        <%= link_to "ユーザー情報", edit_user_registration_path(current_user.id) %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

      <% else %>
        <%= "ログインしていません。" %>

        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "ユーザー登録", new_user_registration_path %>

      <% end %>

    </header>

    <%= yield %>
  </body>
</html>
